* {
  box-sizing: border-box;
}

:root {
  --bs-primary1: #e8953e;
  --bs-secondary1: #1f1e5e;
  --bs-secondary2: #db4a72;
  --bs-light1: #e9e8e8;
}

.dm-sans-400 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.road-rage-regular {
  font-family: "Road Rage", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0 auto;
  font-family: "DM Sans", sans-serif;
}

main {
  margin: auto;
  max-width: 100%;
  font-size: 1.25rem;
  text-align: center;
}

header h1 {
  margin: 20px 0px;
  font-family: "Road Rage", sans-serif;
  font-size: 12rem;
  line-height: 1;
}

header h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

header h3 {
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: 200;
  font-size: 2.4rem;
  font-weight: 300;
}

section {
  padding: 60px 40px;
}

section h3 {
  color: var(--bs-secondary1);
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.5;
  margin-bottom: 15px;
}

section h2 {
  font-size: 1.2rem;
  margin-bottom: 0;
  text-transform: uppercase;
  opacity: 0.8;
}

footer {
  font-size: 1.1rem;
  padding: 40px;
  text-align: left;
  color: var(--bs-light1);
  background-image: linear-gradient(
      rgba(31, 30, 94, 0.7),
      rgba(31, 30, 94, 0.7)
    ),
    url(/assets/3-twin-falls-kakadu.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 40px;
}

footer h2 {
  font-size: 1.8rem;
  font-weight: 200;
}

footer a {
  color: var(--bs-secondary2);
  text-align: center;
  text-decoration: none;
}

footer a:hover {
  color: var(--bs-primary1);
  text-decoration: none;
  font-style: italic;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.hero {
  margin: 0 auto;
  padding: 100px 20px;
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(/assets/4-aerial-view-of-darwin-city-at-sunset.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  max-width: 1000px;
  align-items: stretch;
}

.grid {
  display: grid;
  margin: 20px auto;
  gap: 40px;
}

.grid-2-col {
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.grid-3-col {
  grid-template-columns: 1fr 1fr 1fr;
  align-items: stretch;
}

.grid-3-col-1-nar {
  grid-template-columns: 1fr 2fr 2fr;
}

.button {
  margin-top: 60px;
  margin-bottom: 40px;
}

.primary-button {
  margin: 20px 0px;
  padding: 10px 30px;
  background-color: var(--bs-primary1);
  border-radius: 40px;
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
}

.primary-button:hover {
  background-color: var(--bs-secondary2);
  color: var(--bs-secondary1);
  font-weight: 800;
}

.secondary {
  background-color: var(--bs-secondary1);
  color: var(--bs-light1);
}

.secondary h3 {
  color: white;
}

.card-text {
  background-color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 15px;
}

.card img {
  aspect-ratio: 4 / 3;
}
.card h3 {
  color: #1f1e5e;
  font-size: 1.5rem;
}

.card-text .button {
  margin: 20px 0px 10px 0px;
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    padding: 30px;
  }

  footer {
    text-align: center;
  }
}
